<h1 style="text-align: center;"> Tarea Machine Learning </h1>
<h1 style="text-align: right; font-size: 24px; margin-right: 10px;">Guillermo Díaz Aguado</h1>

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
df = pd.read_excel("datos_tarea25.xlsx")

In [21]:
def analizar_variables_categoricas(datos):
    """
    Analiza variables categóricas en un DataFrame.

    Args:
        datos (DataFrame): El DataFrame que contiene los datos.

    Returns:
        dict: Un diccionario donde aparecen las diferentes categorias, sus frecuencias
        absolutas y relativas.
    """
    # Inicializar un diccionario para almacenar los resultados
    resultados = {}
    
    # Genera una lista con los nombres de las variables.
    variables = list(datos.columns) 
    
    # Seleccionar las columnas numéricas en el DataFrame
    numericas = datos.select_dtypes(include=['int', 'int32', 'int64','float', 'float32', 'float64']).columns

    # Seleccionar las columnas categóricas en el DataFrame
    categoricas = [variable for variable in variables if variable not in numericas]
    
    # Iterar a través de las variables categóricas
    for categoria in categoricas:
        # Verificar si la variable categórica existe en el DataFrame
        if categoria in datos.columns:
            # Crear un DataFrame de resumen para la variable categórica
            resumen = pd.DataFrame({
                'n': datos[categoria].value_counts(),             # Conteo de frecuencias
                '%': datos[categoria].value_counts(normalize=True)  # Porcentaje de frecuencias
            })
            resultados[categoria] = resumen  # Almacenar el resumen en el diccionario
        else:
            # Si la variable no existe en los datos, almacenar None en el diccionario
            resultados[categoria] = None
    
    return resultados

analizar_variables_categoricas(df)

{'Levy':          n         %
 Levy
 -      644  0.148387
 1017   155  0.035714
 891    145  0.033410
 394    127  0.029263
 779    105  0.024194
 ...    ...       ...
 1848     1  0.000230
 1604     1  0.000230
 2705     1  0.000230
 2959     1  0.000230
 11706    1  0.000230

 [203 rows x 2 columns],
 'Manufacturer':                   n         %
 Manufacturer
 TOYOTA         1547  0.356452
 HYUNDAI        1234  0.284332
 MERCEDES-BENZ   932  0.214747
 LEXUS           627  0.144470,
 'Category':               n         %
 Category
 Sedan      2317  0.533871
 Jeep       1510  0.347926
 Hatchback   513  0.118203,
 'Leather interior':                      n         %
 Leather interior
 Yes               3789  0.873041
 No                 551  0.126959,
 'Fuel type':               n         %
 Fuel type
 Petrol     2172  0.500461
 Hybrid     1248  0.287558
 Diesel      920  0.211982,
 'Engine volume':                  n         %
 Engine volume
 2              705  0.162442
 2.5            672  0.154839
 3.5            613  0.141244
 1.8            540  0.124424
 1.6            305  0.070276
 4.6            283  0.065207
 1.5            257  0.059217
 2.4            195  0.044931
 3              128  0.029493
 3.3             74  0.017051
 4.7             69  0.015899
 1.7             59  0.013594
 3.0 Turbo       46  0.010599
 2.0 Turbo       44  0.010138
 2.7             40  0.009217
 2.2             34  0.007834
 5.5             31  0.007143
 5.7             24  0.005530
 3.2             21  0.004839
 5               18  0.004147
 6.2             17  0.003917
 2.2 Turbo       17  0.003917
 1.8 Turbo       17  0.003917
 4               12  0.002765
 1.3             11  0.002535
 4.7 Turbo       11  0.002535
 3.5 Turbo       10  0.002304
 5.5 Turbo        7  0.001613
 1.6 Turbo        7  0.001613
 2.7 Turbo        7  0.001613
 1                7  0.001613
 3.2 Turbo        6  0.001382
 3.8              5  0.001152
 1.9              5  0.001152
 1.4              4  0.000922
 3.7              4  0.000922
 2.1              4  0.000922
 2.5 Turbo        3  0.000691
 2.6              2  0.000461
 0                2  0.000461
 2.8              2  0.000461
 2.4 Turbo        2  0.000461
 4.3              2  0.000461
 4.6 Turbo        2  0.000461
 2.1 Turbo        2  0.000461
 6.3              2  0.000461
 6.3 Turbo        1  0.000230
 4.5 Turbo        1  0.000230
 4.2              1  0.000230
 1.0 Turbo        1  0.000230
 1.2              1  0.000230
 5.7 Turbo        1  0.000230
 0.1              1  0.000230
 6                1  0.000230
 0.6 Turbo        1  0.000230
 3.4              1  0.000230
 4.4              1  0.000230
 1.5 Turbo        1  0.000230,
 'Mileage':              n         %
 Mileage
 0 km       108  0.024885
 102907 km   27  0.006221
 35058 km    24  0.005530
 130000 km   23  0.005300
 150000 km   23  0.005300
 ...        ...       ...
 74990 km     1  0.000230
 70400 km     1  0.000230
 61146 km     1  0.000230
 63083 km     1  0.000230
 186923 km    1  0.000230

 [1826 rows x 2 columns],
 'Gear box type':                   n         %
 Gear box type
 Automatic      3691  0.850461
 Tiptronic       649  0.149539,
 'Drive wheels':                  n         %
 Drive wheels
 Front         2692  0.620276
 4x4           1175  0.270737
 Rear           473  0.108986,
 'Wheel':                      n        %
 Wheel
 Left wheel        4243  0.97765
 Right-hand drive    97  0.02235,
 'Color':           n         %
 Color
 Black  2327  0.536175
 White  2013  0.463825}

In [ ]:


# Quito los "-" de la columna "Levy"
df["Levy"] = df["Levy"].replace("-", np.nan)


def poner_1_y_0(df, columna, str1, str0):
    return df[columna].map({str1:1, str0:0})

# Cambiar las columnas "Leather interior", "Gear box type", "Wheel", "Color" ->  a valores de 0 y 1
df["Leather interior"] = poner_1_y_0(df, "Leather interior", "Yes", "No")
df["Gear box type"] = poner_1_y_0(df, "Gear box type", "Tiptronic", "Automatic")
df["Wheel"] = poner_1_y_0(df, "Wheel", "Left wheel", "Right-hand drive")
df["Color"] = poner_1_y_0(df, "Color", "White", "Black")


# Crear columna de 1 y 0 que indica si tiene turbo
df["Tiene Turbo"] = df["Engine volume"].astype(str).str.contains("Turbo").astype(int)

# Limpiar la columna "Engine volume" y convertir a numérico
df["Engine volume"] = df["Engine volume"].astype(str).str.replace(r"Turbo", "", regex=True).astype(float)

# Limpiar la columna "Mileage" quitando "km"
df["Mileage"] = df["Mileage"].astype(str).str.replace(r"km", "", regex=True).astype(int)

In [17]:
df.dtypes

Price                 int64
Levy                 object
Manufacturer         object
Prod. year            int64
Category             object
Leather interior      int64
Fuel type            object
Engine volume       float64
Mileage               int32
Cylinders             int64
Gear box type         int64
Drive wheels         object
Wheel                 int64
Color                 int64
Airbags               int64
Tiene Turbo           int32
dtype: object

In [18]:
df.nunique()

Price                915
Levy                 202
Manufacturer           4
Prod. year            29
Category               3
Leather interior       2
Fuel type              3
Engine volume         40
Mileage             1826
Cylinders             10
Gear box type          2
Drive wheels           3
Wheel                  2
Color                  2
Airbags               16
Tiene Turbo            2
dtype: int64

In [19]:
df["Wheel"]

0       1
1       1
2       1
3       1
4       1
       ..
4335    1
4336    1
4337    1
4338    1
4339    1
Name: Wheel, Length: 4340, dtype: int64